body{
    font-family: sans-serif;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.planJourney{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    /* width: 400px; */
    /* height: 400px;  */
    padding: 20px;
}
.fa-exchange{
    border: 1px solid black;
    border-radius: 50%;
    font-size: x-large;
    color: crimson;
}
.details{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    border: 1px solid black;
}
.trainDetails{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.loading{
    position:absolute;
    width: 300px;
    height: 300px;
    z-index: 999999;
}
.det{
    position: absolute;
}
.train{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.train-name{
    padding: 0px;
    margin: 0px;
    font-size: medium;
    font-weight: bolder;
}
.train-no{
    font-size: small;
    font-weight: lighter;
    color: gray;
}
.train-class{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.train-p-class{
    display: flex;
    justify-content: center;
}
.seat-available{
    margin: 0px;
    padding: 0px;
    font-size: small;
}
.reserve-screen{
    position: absolute;
    /* top: 7%; */
    width: 100%;
    display: none;
    /* height: 185px; */
    background-color:rgba(243, 115, 115, 0.5);
}
.trainDetails:hover .reserve-screen{
    display: block;
}
.reserve-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}